
#fahrzeuge {
    font: 400 50px/1.8 Lato, sans-serif;
    color: #ff0000;
    background-color: #777;
    padding-left: 50px;
}

#fahrzeugeTextKlein {
    font: 400 30px/1.8 Lato, sans-serif;
    color: #ff0000;
    background-color: #777;
    padding-left: 50px;
}

#fahrzeugeTextKleinBeladung {
    font: 400 30px/1.8 Lato, sans-serif;
    font-weight: bold;
    color: #ff0000;
    background-color: #777;
    padding-left: 50px;
}

#topFontContainer {
    font: 400 50px/1.8 Lato, sans-serif;
    color: #ff0000;
    margin-top: 50px;
    background-color: #777;
    padding-left: 50px;
}
